{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}  <!-- extra_css 블록 추가 -->
    {% block head %}{% endblock %}
</head>

<body>
    <div id="header">
        <span class="logo">NEWS</span>

            
        <ul class="menu">
            <li {% if section == "chart" %}class="selected"{% endif %}>
                <a href="{% if user.is_authenticated %}{% url 'account:chart' %}{% else %}#{% endif %}" 
                   {% if not user.is_authenticated %}class="disabled" onclick="return false;"{% endif %}>
                    차트
                </a>
            </li>
            <li {% if section == "emotion" %}class="selected"{% endif %}>
                <a href="{% if user.is_authenticated %}{% url 'account:emotion' %}{% else %}#{% endif %}" 
                   {% if not user.is_authenticated %}class="disabled" onclick="return false;"{% endif %}>
                    감정분석
                </a>
            </li>
            <li {% if section == "relate" %}class="selected"{% endif %}>
                <a href="{% if user.is_authenticated %}{% url 'account:relate' %}{% else %}#{% endif %}" 
                   {% if not user.is_authenticated %}class="disabled" onclick="return false;"{% endif %}>
                    연관어분석
                </a>
            </li>
            <li {% if section == "weekly_issues" %}class="selected"{% endif %}>
                <a href="{% if user.is_authenticated %}{% url 'account:weekly_issues' %}{% else %}#{% endif %}" 
                   {% if not user.is_authenticated %}class="disabled" onclick="return false;"{% endif %}>
                    주간이슈
                </a>
            </li>
            <li {% if section == "detail" %}class="selected"{% endif %}>
                <a href="{% if user.is_authenticated %}{% url 'account:detail' %}{% else %}#{% endif %}" 
                   {% if not user.is_authenticated %}class="disabled" onclick="return false;"{% endif %}>
                    상세분석
                </a>
            </li>
        </ul>
            
        <span class="user">
            {% if request.user.is_authenticated %} 
            <form method="post" action="{% url 'account:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'account:mypage' %}"style="margin-right: 10px;">마이페이지</a>
            {% endif %}
            
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>