{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">NEWS</span>
        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
            <ul class="menu">
                
                <li {% if section == "chart" %}class="selected"{% endif %}>
                    <a href="{% url 'account:chart' %}">차트</a>
                </li>
                <li {% if section == "emotion" %}class="selected"{% endif %}>
                    <a href="{% url 'account:emotion' %}">감정분석</a>
                </li>
                <li {% if section == "relate" %}class="selected"{% endif %}>
                    <a href="{% url 'account:relate' %}">연관어분석</a>
                </li>
                
            </ul>
        {% comment %} {% endif %} {% endcomment %}
        <span class="user">
            {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
            <form method="post" action="{% url 'account:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'account:mypage' %}"style="margin-right: 10px;">마이페이지</a>
            {% comment %} {% endif %} {% endcomment %}
            
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>