# Django
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# MongoDB (djongo)
MONGO_URI=

# YouTube Data API v3
YOUTUBE_API_KEY=

# Email (Gmail SMTP) - 앱 비밀번호 사용
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
