{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}비밀번호 재설정{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>비밀번호를 잊으셨나요?</h1>
    <p>가입하신 이메일 주소를 입력하시면 비밀번호 재설정 링크를 보내드립니다.</p>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="이메일 보내기">
    </form>
</div>
{% endblock %}    

        {{ form.as_p }}
        <input type="submit" value="이메일 보내기">
    </form>
</div>
{% endblock %}