{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}새 비밀번호 설정{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>새 비밀번호 설정</h1>
    {% if validlink %}
        <p>새로운 비밀번호를 입력해주세요:</p>
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="비밀번호 변경">
        </form>
    {% else %}
        <p>비밀번호 재설정 링크가 만료되었습니다. 새로운 재설정 링크를 요청해주세요.</p>
    {% endif %}
</div>
{% endblock %}