{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block title %}마이페이지{% endblock %}

{% block content %}
<div class="mypage-container">
    <header class="mypage-header">
        <h1>{{ user.username }}님의 페이지</h1>
    </header>

    <section class="mypage-section">
        <h2>회원정보수정</h2>
        <a href="{% url 'account:password_change' %}" class="mypage-link">비밀번호 변경</a>
    </section>

    <section class="mypage-section">
        <h2>찜 한 영상</h2>
        <a href="{% url 'account:my_liked_video' %}" class="mypage-link">찜한 영상 보기</a>
    </section>

</div>
{% endblock %}